body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 100px 1fr 1fr 200px;
    grid-template-areas: 
    "header header header"
    ". main ."
    "sec sec sec"
    "footer footer footer";
}
/* header */

header {
    background-color: lightgrey;
    grid-area: header;
    padding: 0 10%;
}
figure{
    margin-top: 0;
    margin-bottom: 0;
}
nav {
    margin-left: 1rem;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li {
    margin-right: 1rem;
}
nav ul li a{
    text-decoration: none;
    color: gray;
}

/* Main */

main{
    background-color: #f5f5f5;
    grid-area: main;
    height: 640px;
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 90px 25px 25px 100px 100px 80px;
    gap: 15px;
    pad: 15px;
}
.one {
    grid-area: 1/1/2/2;
    background-image: url(./images/1.jpg);
}
.two {
    grid-area:1/2/3/3 ;
    background-image: url(./images/2.jpg);
}
.three {
    grid-area: 1/3/5/4;
    background-image: url(./images/3.jpg);
}
.four {
    grid-area: 1/4/4/5;
    background-image: url(./images/4.jpg);
}
.five {
    grid-area: 2/1/6/2;
    background-image: url(./images/5.jpg);
}
.six {
    grid-area: 3/2/7/3;
    background-image: url(./images/6.jpg);
}
.seven {
    grid-area: 5/3/8/4;
    background-image: url(./images/7.jpg);
}
.eigth {
    grid-area: 5/4/8/5;
    background-image: url(./images/8.jpg);
}
.nine {
    grid-area: 6/1/8/2;
    background-image: url(./images/9.jpg);
}
.ten {
    grid-area: 7/2/8/3;
    background-image: url(./images/10.jpg);
}
/* section */
section {
    grid-area: sec;
    background-color: #f5f5f5;
    width: 100%;
}
.sec-container{
    margin: 0 auto;
    width: 80%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "col1 col2 col3"
    ". col4 col5"
    ". . col6";
    gap: 5px;
}
.sec-container div {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    text-shadow: 5px 5px 7px black;
    line-height: 200px;
}
.col1 {
    grid-area: col1;
    background-color: magenta;
}
.col2 {
    grid-area: col2;
    background-color: orange;
}
.col3 {
    grid-area: col3;
    background-color: blueviolet;
}
.col4 {
    grid-area: col4;
    background-color: yellow;
}
.col5 {
    grid-area: col5;
    background-color: green;
}
.col6 {
    grid-area: col6;
    background-color: aqua;
}

/* Footer */
footer {
    grid-area: footer;
}
footer div{
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 150px;
    row-gap: 20px;
    column-gap: 50px;
    justify-content: center;
    padding: 20px 10%;
}

footer div .foot {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px white;
    padding: 1rem;
}
